// the same in scss
- const XS = '(min-width: 375px)';
- const S = '(min-width: 576px)';
- const M = '(min-width: 768px)';
- const L = '(min-width: 992px)';
- const XL = '(min-width: 1200px)';
- const XXL = '(min-width: 1600px)';
