.header {
	z-index: 99;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-top: 1.4rem;
	padding-bottom: 1.4rem;

	@include media(M) {
		padding-top: 3.4rem;
		padding-bottom: 3.4rem;
	}

	&__logo {
		display: inline-block;
		margin: 0 auto;

		@include media(M) {
			margin: initial;
		}

		&-img {
			max-width: 100%;
			height: auto;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		gap: 2rem 3rem;
		flex-wrap: wrap;

		@include media(M) {
			flex-wrap: nowrap;
		}
	}

	&__form {
		width: 100%;
		padding-top: 1.1rem;

		@include media(M) {
			width: initial;
		}
	}
}
