section.form
	.container

		.form__content

			header.form__header
				h1.form__header-title StarCompany DESIGNS, MANUFACTURES AND
				p.form__header-desc Launches Advanced Rockets and  Spacecrafts

			.form__steps
				include ../../components/form/steps/steps
